# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Build directory
dist

# Editor's config directories
.vscode
.idea
*.iml

# MacOS related files
*.DS_Store
.AppleDouble
.LSOverride
._*

# Coverage
coverage
.nyc_output

# Windows related files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Optional npm cache directory
.npm
# Optional nvm version file
.nvmrc

# Sonar
.scannerwork
sonar-project.properties
coverage.lcov
